* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 2.5%;
  background-color: #32b4cd;
  padding: 2rem;
}

.header h1 {
  display: inline-block;
  color: #fff;
}

.header button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.header button:hover {
  box-shadow: 0 0 16px 0 #f0cf0f;
}

.header .display-attend {
    position: absolute;
    right: 45px;
    margin-top: 85px;
    color: #000;
    padding: 1rem;
    background: #32b4cd;
    flex-direction: column;
}

.header .display-attend div {
  border: 1px solid black;
  margin: .5rem 0;
  padding: 1rem;
  border-radius: 10px;
  
}

.main {
  width: 95%;
  margin: 0 2.5%;
  padding: 1rem;
}

.main h3 {
  text-align: center;
}

.main .event-container {
  width: 60%;
  margin: 0 auto;
}

.event-container .event {
  border: 1px solid black;
  margin: 1.5rem 0;
  padding: 2.5rem;
  border-radius: 15px;
  font-size: 20px;
}

.event-container .event button {
  margin-top: 1rem;
  padding: 0.5rem;
}

.event-container .event input {
  padding: 0.5rem;
}
